// 
@charset 'utf-8';
@import '~ibm-design-colors';
@import '~bulma/sass/utilities/functions';
// 
$family-sans-serif: ('IBM Plex Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
$family-monospace: ('IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace);
// 
$_TINT: 'cool';
$black: rgb(14, 14, 14);
$black-bis: rgb(26, 26, 26);
$black-ter: rgb(39, 39, 39);
$grey-darker: color($_TINT + '-gray', 80);
$grey-dark: color($_TINT + '-gray', 70);
$grey: color($_TINT + '-gray', 50);
$grey-light: color($_TINT + '-gray', 30);
$grey-lighter: color($_TINT + '-gray', 20);
$white-ter: color($_TINT + '-white', 4);
$white-bis: color($_TINT + '-white', 2);
$white: color('white', 0);
// 
$cyan: color('aqua', 30);
$green: color('green', 30);
$yellow: color('gold', 20);
$red: color('magenta', 50);
$blue: color('blue', 50);
$purple: color('indigo', 50);
$orange: color('peach', 30);
// 
$primary: color('indigo', 50);
$secondary: color('peach', 30);
// 
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$link: $blue;
// 
$light: $white-ter;
$dark: $grey-darker;
// 
$cyan-invert: white;
$green-invert: white;
$yellow-invert: white;
$red-invert: white;
$blue-invert: white;
$purple-invert: white;
$orange-invert: white;
$primary-invert: white;
$secondary-invert: white;
$info-invert: white;
$success-invert: white;
$warning-invert: white;
$danger-invert: white;
$link-invert: white;
// 
@import '~bulma/sass/utilities/all';
@import '~buefy/src/scss/utils/all';
// 
// $body-size: 24px;
// 
@import './lolo';
@import '~bulma';
@import '~buefy/src/scss/buefy';
//
