// 
@charset 'utf-8';
@import '~ibm-design-colors';
@import '~bulma/sass/utilities/functions';
// 
// /*████  COLORS  ████*/
// 
$_TINT: 'cool';
$black: rgb(14, 14, 14);
$black-bis: rgb(26, 26, 26);
$black-ter: rgb(39, 39, 39);
$grey-darker: color($_TINT + '-gray', 80);
$grey-dark: color($_TINT + '-gray', 70);
$grey: color($_TINT + '-gray', 50);
$grey-light: color($_TINT + '-gray', 30);
$grey-lighter: color($_TINT + '-gray', 20);
$white-ter: color($_TINT + '-white', 4);
$white-bis: color($_TINT + '-white', 2);
$white: color('white', 0);
// 
$orange: color('orange', 30);
$yellow: color('gold', 20);
$green: color('green', 30);
$turquoise: color('teal', 30);
$cyan: color('aqua', 30);
$blue: color('blue', 50);
$purple: color('indigo', 50);
$red: color('magenta', 50);
// 
$orange-invert: findColorInvert($orange);
$yellow-invert: findColorInvert($yellow);
$green-invert: findColorInvert($green);
$turquoise-invert: findColorInvert($turquoise);
$cyan-invert: findColorInvert($cyan);
$blue-invert: findColorInvert($blue);
$purple-invert: findColorInvert($purple);
$red-invert: findColorInvert($red);
// 
$primary: rgb(151, 89, 209);
$secondary: rgb(174, 114, 229);
$accent: rgb(252, 213, 48);
// 
$primary-invert: findColorInvert($primary);
$secondary-invert: findColorInvert($secondary);
$accent-invert: findColorInvert($accent);
// 
$info: $cyan;
$success: $green;
$warning: $orange;
$danger: $red;
// 
$info-invert: findColorInvert($info);
$success-invert: findColorInvert($success);
$warning-invert: findColorInvert($warning);
$danger-invert: findColorInvert($danger);
// 
// /*████  VARIABLES  ████*/
// 
$light: $white-ter;
$dark: $grey-darker;
// 
$background: $white-ter;
// 
$border: $grey-lighter;
$border-hover: $grey-light;
// 
$text: $grey-dark;
$text-light: $grey;
$text-strong: $grey-darker;
// $text-invert: findColorInvert($text);
// 
// $link: $blue;
// $link-invert: findColorInvert($link);
// 
// /*████  TYPOGRAPHY  ████*/
// 
$family-sans-serif: ('IBM Plex Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif);
$family-primary: $family-sans-serif;
$family-monospace: ('IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace);
$family-code: $family-monospace;
// 
// /*████  UTILITIES  ████*/
// 
@import '~bulma/sass/utilities/all';
@import '~buefy/src/scss/utils/all';
// 
// /*████  SIZES  ████*/
// 
$size-larger: $size-3;
$size-huge: $size-2;
$size-gigantic: $size-1;
// 
// /*████  EXTERNALS  ████*/
// 
@import './lolo';
@import '~bulma';
@import '~buefy/src/scss/buefy';
//
