// 
// 
// 
/*████  ALIGN  ████*/

.is-align-baseline {
	vertical-align: baseline !important;
}

.is-align-top {
	vertical-align: top !important;
}

.is-align-middle {
	vertical-align: middle !important;
}

.is-align-bottom {
	vertical-align: bottom !important;
}

.is-align-text-bottom {
	vertical-align: text-bottom !important;
}

.is-align-text-top {
	vertical-align: text-top !important;
}

// 
// 
// 
/*████  FLEX  ████*/

.is-flex-row {
	flex-direction: row !important;
}

.is-flex-column {
	flex-direction: column !important;
}

.is-flex-row-reverse {
	flex-direction: row-reverse !important;
}

.is-flex-column-reverse {
	flex-direction: column-reverse !important;
}

.is-flex-wrap {
	flex-wrap: wrap !important;
}

.is-flex-nowrap {
	flex-wrap: nowrap !important;
}

.is-flex-wrap-reverse {
	flex-wrap: wrap-reverse !important;
}

.is-flex-fill {
	flex: 1 1 auto !important;
}

.is-justify-content-start {
	justify-content: flex-start !important;
}

.is-justify-content-end {
	justify-content: flex-end !important;
}

.is-justify-content-center {
	justify-content: center !important;
}

.is-justify-content-between {
	justify-content: space-between !important;
}

.is-justify-content-around {
	justify-content: space-around !important;
}

.is-align-items-start {
	align-items: flex-start !important;
}

.is-align-items-end {
	align-items: flex-end !important;
}

.is-align-items-center {
	align-items: center !important;
}

.is-align-items-baseline {
	align-items: baseline !important;
}

.is-align-items-stretch {
	align-items: stretch !important;
}

.is-align-content-start {
	align-content: flex-start !important;
}

.is-align-content-end {
	align-content: flex-end !important;
}

.is-align-content-center {
	align-content: center !important;
}

.is-align-content-between {
	align-content: space-between !important;
}

.is-align-content-around {
	align-content: space-around !important;
}

.is-align-content-stretch {
	align-content: stretch !important;
}

.is-align-self-auto {
	align-self: auto !important;
}

.is-align-self-start {
	align-self: flex-start !important;
}

.is-align-self-end {
	align-self: flex-end !important;
}

.is-align-self-center {
	align-self: center !important;
}

.is-align-self-baseline {
	align-self: baseline !important;
}

.is-align-self-stretch {
	align-self: stretch !important;
}

// 
// 
// 
/*████  POSITION  ████*/

$_positions: static,
relative,
absolute,
fixed,
sticky;
@each $position in $_positions {
	.position-#{$position} {
		position: $position !important;
	}
}

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.fixed-bottom {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
}

// 
// 
// 
/*████  SIZING  ████*/

$_sizes: 0,
25,
50,
100;
@each $size in $_sizes {
	.min-w-#{$size} {
		min-width: percentage($size/100) !important;
	}
	.max-w-#{$size} {
		max-width: percentage($size/100) !important;
	}
	.w-#{$size} {
		width: percentage($size/100) !important;
	}
	.min-h-#{$size} {
		min-height: percentage($size/100) !important;
	}
	.max-h-#{$size} {
		max-height: percentage($size/100) !important;
	}
	.h-#{$size} {
		height: percentage($size/100) !important;
	}
}

// 
// 
//
