// 
@charset 'utf-8';
// 
// 
// 
// $font-prefix: '~@ibm/plex';
// // @import '~@ibm/plex/scss/ibm-plex';
// @import '~@ibm/plex/scss/sans/_index';
// @import '~@ibm/plex/scss/mono/_index';
// 
$family-sans-serif: 'IBM Plex Sans',
BlinkMacSystemFont,
-apple-system,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
'Helvetica',
'Arial',
sans-serif;
// 
$family-monospace: 'IBM Plex Mono',
'Menlo',
'DejaVu Sans Mono',
'Bitstream Vera Sans Mono',
Courier,
monospace;
// 
// 
// 
@import '~bulma/sass/utilities/_all';
// @import '~bulma/sass/utilities/initial-variables';
// @import '~bulma/sass/utilities/functions';
// 
// $orange: #fe8500;
// $yellow: #ffb000;
// $green: #2ecc71;
// $turquoise: #95d13c;
// $cyan: #71cddd;
// $blue: #5392ff;
// $purple: #9b82f3;
// $red: #ff509e;
// 
// $body-background-color: #000000;
// $turquoise: #785ef0;
// $yellow: #fe8500;
// 
@import '~ibm-design-colors/ibm-colors';
// 
$ibm-color-keys: get-colors();
$ibm-color-map: get-colors('all');
// 
// $moar: #ff0000;
// $moar-invert: findColorInvert($moar);
// $addColors: ( "moar":($moar, $moar-invert));
// $colors: map-merge($colors, $addColors);
// $colors: ("primary": ($primary, $primary-invert), "link": ($link, $link-invert), "info": ($info, $info-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert));
// 
// @debug $colors;
// 
// @each $name,
// $pair in $colors {
// 	$color: nth($pair, 1);
// 	$invert: nth($pair, 2);
// 	.bg-#{$name} {
// 		background-color: $color !important;
// 	}
// }
// 
@each $name,
$pair in $colors {
	.is-bg-#{$name} {
		background-color: nth($pair, 1) !important;
		color: nth($pair, 2) !important;
	}
}

// 
// $primary: $purple;
// $primary-invert: findColorInvert($primary);
// 
// $primary-invert: findColorInvert($primary);
// $twitter: #ff0000;
// $twitter-invert: findColorInvert($twitter);
// $colors: (
// 	"white": ($white, $black),
// 	"black": ($black, $white),
// 	"light": ($light, $light-invert),
// 	"dark": ($dark, $dark-invert),
// 	"primary": ($primary, $primary-invert),
// 	"info": ($info, $info-invert),
// 	"success": ($success, $success-invert),
// 	"warning": ($warning, $warning-invert),
// 	"danger": ($danger, $danger-invert),
// 	"twitter": ($twitter, $twitter-invert)
// );
// $family-primary: monospace;
// $family-sans-serif: monospace;
// 
// $primary: #000000;
// $orange: #000000;
// $yellow: #000000;
// $green: #000000;
// $turquoise: #000000;
// $cyan: #000000;
// $blue: #000000;
// $purple: #000000;
// $red: #000000;
// 
// 
// 
@import './utilities';
// 
@import '~bulma';
@import '~buefy/src/scss/buefy';
// 
// 
// 
$mdi-font-path: '~mdi/fonts';
@import '~mdi/scss/materialdesignicons';
// 
// 
//
